* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: black;
}

.gallery_container {
  width: 100vw;
  height: auto;
}

.gallery {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* grid-template-rows: repeat(-1, 1fr); */
  grid-gap: 20px;
}

.gal_img {
  height: auto;
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 500ms;
}

.gal_img:hover {
  transform: translateY(-10px);
}
