:root {
  --color-primary: rgb(125, 190, 255);
  --color-secondary: rgb(200, 200, 200);
  --color-tertiary: black;
  --color-accent: rgb(125, 190, 255);
  --color-primary-darker: rgb(90, 140, 190);
  --gradient-primary: linear-gradient(white, var(--color-primary-darker));
  --gradient-secondary: black;
}

body {
  /* background-color: rgb(180, 180, 180); */
  /* background: linear-gradient(white, rgba(100, 150, 200, 1)); */
  /* background: linear-gradient(#ffffff, #6dc6fa, #1d5b85); */
  background: var(--gradient-primary);
  font-size: 1em;
  font-family: "League Spartan", sans-serif;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
/* 
////////////////////////////////////////////////////////////////////////////////////
                        potential to add ????
////////////////////////////////////////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
} 

modal overlay blur thing:
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}


////////////////////////////////////////////////////////////////////////////////////
*/

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:visited {
  color: var(--color-primary);
  text-decoration: none;
}

.section {
  border-bottom: 1px solid gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_title {
  display: flex;
  font-size: 3em;
  justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  transform: translateY(150px);
}

/*
/////////////////////////////////////////////////////////////////////////////////
                            NAV BAR
////////////////////////////////////////////////////////////////////////////////
*/

.nav_bar {
  /* at some point maybe add hamburger menu ? */
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  height: 70px;
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
  flex-direction: row;
  align-items: center;
  /* border-bottom: 2px solid black; */
}

#site_icon_img_container {
  width: 50%;
  display: flex;
  justify-content: left;
  margin-left: 8px;
}

.site_icon_img {
  height: 35px;
  width: 60px;
  justify-content: left;
  transition: transform 1s ease-in-out;
}

.site_icon_img:hover {
  transform: rotate(360deg);
}

.nav_buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav_btn {
  background-color: rgba(100, 150, 200, 0);
  color: rgb(125, 190, 255);
  font-size: 1.4em;
  border: none;
}

.nav_buttons:last-child {
  margin-right: 0px;
}

/*
/////////////////////////////////////////////////////////////////////////////////
                           HEADER
////////////////////////////////////////////////////////////////////////////////
*/

.header {
  width: 100vw;
  height: 45vw;
  background: url("./media/look at those bw.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 45vw;
  filter: blur(10px);
  /* border-top: 8px solid white; */
  /* border-bottom: 8px solid white; */
  z-index: 1;
  transform: translateX(-10px);
}

#site_title_container {
  width: 100vw;
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  position: absolute;
  top: 73px;
  left: 0;
  z-index: 2;
}

.site_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ms Madi", cursive;
  width: 50%;
  height: 2em;
  /* color: rgb(100, 150, 200); */
  color: rgb(125, 190, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  margin: 100px 25vw 100px auto;
  font-size: 8em;
  z-index: 2;
}

/*
/////////////////////////////////////////////////////////////////////////////////
                            WHAT ARE PIGS 
////////////////////////////////////////////////////////////////////////////////
*/

.what_are_pigs_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: auto;
  color: black;
  padding: 10px;
  margin: 100px auto 30px auto;
}

.toggle_content {
  padding-bottom: 40px;
}
/* event listener for (probably) scroll where pig para fades into existance on the side either pushing the h2 to the side or replacing it */

.what_are_pigs_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  text-align: center;
}

#what_are_pigs_title {
  text-align: center;
  font-size: 4em;
  font-family: "League Spartan", sans-serif;
  padding-bottom: 10px;
  /* this should be something i change to be more fancy later, not just an underline */
  border-bottom: 2px solid black;
  /* text-shadow: 5px 5px 2px black; */
}

.drop_down_button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  line-height: 1.8;
  cursor: help;
  margin: 50px;
  border-radius: 100%;
  color: var(--color-primary);
}

#anatomy_pig {
  width: 400px;
  height: auto;
  margin-right: 30px;
  border: 3px solid rgba(100, 150, 200, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  float: left;
}

#what_are_pigs_para {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(100, 150, 200, 1);
  padding: 30px;
  border-radius: 20px;
  font-size: 1.2em;
  line-height: 1.5em;
}

/*
/////////////////////////////////////////////////////////////////////////////////
                            INTRO
////////////////////////////////////////////////////////////////////////////////
*/

.intro {
  height: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  /* background: rgba(110, 110, 110, 0.5); */
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
}

.intro_image {
  object-fit: cover;
  height: 300px;
  width: auto;
  outline: 3px solid rgba(100, 150, 200, 1);
  outline-offset: 1em;
  /* border: 30px solid rgba(100, 150, 200, 1); */
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pig_name {
  font-family: "Ms Madi", sans-serif;
  font-size: 4em;
  margin: 5px;
  color: rgb(125, 190, 255);
}

.pig_intro_para {
  display: flex;
  width: 70%;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.intro_card {
  height: 25em;
  width: 60%;
  min-height: 25em;

  display: flex;
  flex-direction: row;
  border: 3px solid rgba(100, 150, 200, 1);
  padding: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  background: white;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 60%,
    rgb(245, 245, 245) 75%,
    rgb(245, 245, 245) 100%
  );
  border-radius: 20px;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
}

#cowpig_intro_container {
  background: linear-gradient(
    90deg,
    rgb(245, 245, 245) 0%,
    rgb(245, 245, 245) 25%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

#bagel_intro_container {
  flex-direction: row-reverse;
}

/*
/////////////////////////////////////////////////////////////////////////////////
                           SLIDER
////////////////////////////////////////////////////////////////////////////////
*/

.slider {
  height: 1000px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  width: 50vw;
  height: 500px;
  font-size: 2em;
  line-height: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;

  /* THIS creates the animation! */
  transition: transform 1s;
  display: none;
  background-color: white;
}

.slide--active {
  display: flex;
}

.slide_image {
  height: 300px;
  width: auto;
  padding-right: 3em;
}

.slider_btn {
  width: 3em;
  height: 3em;
  background-color: white;
  color: var(--color-tertiary);
  border: 1px solid black;
  border-radius: 100%;
  cursor: default;
}

/*setting slider y value is F'd bc using vw, thanks to the scroll bar slider should go from 25 - 75 vw*/
.slider_btn_left {
  transform: translate(20vw, -500px);
}

.slider_btn_right {
  transform: translate(77vw, -500px);
}

/*
/////////////////////////////////////////////////////////////////////////////////
                            TAB CARE GUIDE
////////////////////////////////////////////////////////////////////////////////
*/

.care_guide {
  height: 500px;
  width: 100vw;
}

/*
/////////////////////////////////////////////////////////////////////////////////
                            SOCIALS
////////////////////////////////////////////////////////////////////////////////
*/

.socials {
  height: 500px;
  width: 100vw;
}

/*
/////////////////////////////////////////////////////////////////////////////////
                            FOOTER
////////////////////////////////////////////////////////////////////////////////
*/

.footer {
  height: 500px;
  width: 100vw;
}

.border_bottom {
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}
