body {
  /* background-color: rgb(180, 180, 180); */
  /* background: linear-gradient(white, rgba(100, 150, 200, 1)); */
  background: linear-gradient(#ffffff, #6dc6fa, #1d5b85);
  font-size: 1em;
  font-family: "League Spartan", sans-serif;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.nav_bar {
  /* at some point maybe add hamburger menu ? */
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  height: 70px;
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid black;
}

#site_icon_img_container {
  width: 50%;
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.site_icon_img {
  height: 35px;
  width: 60px;
  margin-left: 10px;
  justify-content: left;
  transition: transform 1s ease-in-out;
}

.site_icon_img:hover {
  transform: rotate(360deg);
}

.nav_buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav_btn {
  background-color: rgba(100, 150, 200, 0);
  color: black;
  font-size: 1.5em;
  border: none;
}

.header {
  width: 100vw;
  height: 600px;
  background: url("./media/look at those bw.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 600px;
  filter: blur(8px);
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  z-index: 1;
}

#site_title_container {
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  position: absolute;
  top: 73px;
  left: 0;
  z-index: 2;
}

.site_title {
  font-family: "Ms Madi", cursive;
  width: 50%;
  height: auto;
  /* color: rgb(100, 150, 200); */
  color: rgb(125, 190, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  margin: 100px 25vw 100px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 8em;
  z-index: 2;
}

.what_are_pigs_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: auto;
  color: black;
  padding: 10px;
  margin: 100px auto 30px auto;
}

.toggle_content {
  padding-bottom: 40px;
}
/* event listener for (probably) scroll where pig para fades into existance on the side either pushing the h2 to the side or replacing it */

.what_are_pigs_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  text-align: center;
}

#what_are_pigs_title {
  text-align: center;
  font-size: 4em;
  font-family: "League Spartan", sans-serif;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  /* text-shadow: 5px 5px 2px black; */
}

.drop_down_button {
  width: 60px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  padding-top: 5px;
  cursor: help;
}

#anatomy_pig {
  width: 400px;
  height: auto;
  margin-right: 30px;
  border: 3px solid rgba(100, 150, 200, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  float: left;
}

#what_are_pigs_para {
  width: 100%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(100, 150, 200, 1);
  padding: 30px;
  border-radius: 20px;
  font-size: 1em;
  line-height: 1.5em;
}

.intro {
  height: 700px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 25px;
  margin: auto;
  margin-top: 25vh;
  /* border: 3px solid rgba(100, 150, 200, 1);
  border-radius: 30px; */
  /* background: rgba(110, 110, 110, 0.5); */
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
}

.intro_image {
  object-fit: cover;
  height: 300px;
  width: auto;
  outline: 3px solid rgba(100, 150, 200, 1);
  outline-offset: 5px;
  /* border: 30px solid rgba(100, 150, 200, 1); */
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pig_name {
  font-family: "Ms Madi", sans-serif;
  font-size: 3em;
  margin: 5px;
  color: rgb(125, 190, 255);
}

.pig_intro_para {
  display: flex;
  width: 70%;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

#cowpig_intro_container {
  max-height: 400px;
  display: flex;
  flex-direction: row;
  border: 3px solid rgba(100, 150, 200, 1);
  padding: 1em;
  text-align: center;
  text-justify: center;
  background: white;
  background: linear-gradient(
    90deg,
    rgb(245, 245, 245) 0%,
    rgb(245, 245, 245) 25%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
  margin-bottom: 2em;
}

#bagel_intro_container {
  display: flex;
  flex-direction: row-reverse;
  border: 3px solid rgba(100, 150, 200, 1);
  padding: 1em;
  text-align: center;
  text-justify: center;
  background: white;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 60%,
    rgb(245, 245, 245) 75%,
    rgb(245, 245, 245) 100%
  );
  border-radius: 20px;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
}

.slider {
  height: 500px;
  width: 100vw;
}

.socials {
  height: 500px;
  width: 100vw;
}

.footer {
  height: 500px;
  width: 100vw;
}

.border_bottom {
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}
