:root {
  --color-primary: rgb(125, 190, 255);
  --color-secondary: rgb(251, 194, 235);
  --color-tertiary: rgb(200, 200, 200);
  --color-accent: rgb(253, 255, 143);
  --color-primary-darker: rgb(90, 140, 190);
  --color-secondary-darker: rgb(167, 102, 102);
  --color-primary-lighter: rgb(188, 217, 247);
  --color-secondary-lighter: rgb(253, 223, 244);
  --color-glass-transparancy: rgba(255, 255, 255, 0.5);
  --color-glass-transparancy-lighter: rgba(255, 255, 255, 0.2);
  --gradient-primary: linear-gradient(white, var(--color-primary-darker));
  --gradient-secondary: linear-gradient(
    to top,
    var(--color-secondary) 0%,
    rgb(166, 193, 238) 100%
  );
}

html body {
  /* background-color: rgb(180, 180, 180); */
  /* background: linear-gradient(white, rgba(100, 150, 200, 1)); */
  /* background: linear-gradient(#ffffff, #6dc6fa, #1d5b85); */
  background: var(--gradient-secondary);
  font-size: 16px;
  font-family: "League Spartan", sans-serif;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
a:visited {
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.section {
  border-bottom: 1px solid gray;
  padding-top: 3em;
  padding-bottom: 3em;
  /*when js reveals the section apply this transition*/
  transition: transform 1s, opacity 1s;
}

/*getting rid of a section border bc it animated over the footer (looked bad)*/
.section:nth-last-child(2) {
  border-bottom: none;
}

.section--hidden {
  opacity: 0;
  transform: translateY(15rem);
}

.section_title {
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-weight: 300;
  /* margin-top: 2em; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Ms Madi", cursive; */
  color: rgba(240, 240, 240);
  text-shadow: 3px 3px 1px var(--color-primary-darker);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
/* 
////////////////////////////////////////////////////////////////////////////////////
                                   NAV BAR
//////////////////////////////////////////////////////////////////////////////////// 
*/
.nav_bar {
  /* at some point maybe add hamburger menu ? */
  background: linear-gradient(
    120deg,
    var(--color-secondary),
    var(--color-primary)
  );
  display: flex;
  height: 70px;
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /*return these values when hamburger done
  justify-content: space-between;
  */
}

#site_icon_img_container {
  width: 50%;
  display: flex;
  justify-content: left;
  padding-left: 1em;

  /*return these values when hamburger done
  width 50%;
  */
}

.site_icon_img {
  height: 35px;
  width: 60px;
  justify-content: left;
  transition: 1s ease-in-out;
}

.site_icon_img:hover {
  transform: rotate(360deg);
}

.nav_buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav_btn {
  width: auto;
  max-height: 2em;
  background-color: rgba(100, 150, 200, 0);
  color: var(--color-primary);
  font-size: 1.3em;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: all 200ms;
  padding: 5px 10px;
}

.nav_btn::after {
  content: "";
  width: 0%;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--color-primary-lighter) 0%,
    var(--color-secondary) 100%
  );
  display: block;
  margin: auto;
  transition: 300ms;
}

.nav_btn:hover::after {
  width: 100%;
}

/* .nav_btn:hover {
  background: var(--color-glass-transparancy-lighter);
  border-radius: 20px;
  transition: all 200ms;
} */

.nav_buttons:last-child {
  padding-right: 3em;
}

/* 
////////////////////////////////////////////////////////////////////////////////////
                                MOBILE NAV
//////////////////////////////////////////////////////////////////////////////////// 
*/

.hamburger {
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 5vh;
  color: var(--color-secondary);
  padding-right: 8vw;
  transition: all 200ms;
}
/* 
.burger_bar_container {
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger_bar {
  width: 3em;
  height: 3px;
} */

.fa-bars:active {
  transform: scale(0.9);
  color: var(--color-primary-lighter);
}

.mobile_menu_container {
  display: flex;
  position: absolute;
  left: 25vw;
  top: 0px;
  width: 55vw;
  height: 33vh;
  align-items: center;
  justify-content: center;
  z-index: 5;
  animation-timing-function: ease-out;

  /*how on earth do you get this to work both ways -_- */
  animation-name: mobileMenuDrop;
  animation-duration: 1s;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-image: linear-gradient(
      120deg,
      var(--color-primary) 30%,
      var(--color-secondary) 70%
    )
    30;
}

.mobile_nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  background: var(--color-glass-transparancy);
}

/* .mobile_nav_btn:hover {
} */

.mobile_nav_btn:not(:last-child) {
  border-bottom: 2px solid;
  border-image: linear-gradient(
      120deg,
      var(--color-primary) 30%,
      var(--color-secondary) 70%
    )
    30;
}

/* 
////////////////////////////////////////////////////////////////////////////////////
                                   HEADER
//////////////////////////////////////////////////////////////////////////////////// 
*/

.header {
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  height: 85vh;
  background: url("./media/look at those bw.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 100vw 45vw; */
  filter: blur(10px);
  background-size: cover;
  overflow-x: hidden;

  z-index: 1;
  /* transform: translateX(-10px); */
}

#site_title_container {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  position: absolute;
  top: 73px;
  left: 0;
  z-index: 2;
}

.site_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ms Madi", cursive;
  width: 50%;
  height: 2em;
  /* color:rgb(251, 194, 235) */
  color: var(--color-primary);
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 3px solid white; */
  border: 5px solid;
  border-image: linear-gradient(
      120deg,
      var(--color-primary) 30%,
      var(--color-secondary) 70%
    )
    30;
  /* margin: 100px 25vw 100px auto; */
  font-size: 10vw;
  z-index: 2;
  text-shadow: 3px 3px 1px var(--color-secondary);
}

/* 
////////////////////////////////////////////////////////////////////////////////////
                                   SECTION 1 WHAT ARE PIGS
//////////////////////////////////////////////////////////////////////////////////// 
*/

.what_are_pigs_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: auto;
  color: black;
  padding: 1em;
  margin: 100px auto auto auto;
}

.toggle_content {
  padding-bottom: 1em;
  opacity: 1;
  transition: all ease-out 0.5s;
}
/* event listener for (probably) scroll where pig para fades into existance on the side either pushing the h2 to the side or replacing it */

.what_are_pigs_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  text-align: right;
  text-indent: 0px;
}

#what_are_pigs_title {
  text-align: center;
  border-bottom: 3px solid;
  border-image: linear-gradient(
      120deg,
      var(--color-primary-darker) 30%,
      var(--color-secondary) 70%
    )
    30;
}

.drop_down_button_container {
  width: 3em;
  height: 3em;
  background-color: var(--color-glass-transparancy);
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 2em;
  border-radius: 100%;
  color: var(--color-secondary-darker);
  transition: all 200ms;
}
.drop_down_button_container:hover {
  color: var(--color-secondary);
  /* background-color: var(--color-glass-transparancy-lighter); */
  transition: all 200ms;
}

.drop_down_button {
  margin-top: 30%;
  font-size: 1.2em;
}

.drop_down_button_container:active {
  transform: scale(0.8);
  background-color: var(--color-glass-transparancy-lighter);
  border: none;
  cursor: pointer;
  transition: 200ms;
}

#anatomy_pig {
  width: 20vw;
  height: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 3px solid rgba(100, 150, 200, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  float: left;
  cursor: pointer;
}

#anatomy_pig:hover {
  border: 3px solid;
  border-image: linear-gradient(
      120deg,
      var(--color-primary) 30%,
      var(--color-secondary) 70%
    )
    30;
}

#what_are_pigs_para {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    280deg,
    var(--color-primary-lighter),
    var(--color-glass-transparancy)
  );
  border: none;
  padding: 2em;
  border-radius: 20px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.modal_img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 90vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 101;
  transition: 1s;
  border: 2px solid black;
}

#modal_close {
  /* background: var(--color-glass-transparancy); */
  color: var(--color-secondary-darker);
  font-size: 2em;
  position: fixed;
  top: 1.5em;
  left: 95vw;
  transform: translate(-50%, -50%);
  z-index: 110;
  cursor: pointer;
  transition: 200ms;
}

#modal_close:hover {
  transition: 200ms;
  cursor: pointer;
  color: darkred;
}

#modal_close:active {
  border-radius: 100%;
  cursor: pointer;
  color: red;
  transition: 50ms;
}

/* 
////////////////////////////////////////////////////////////////////////////////////
                                   SECTION 2 INTRO
//////////////////////////////////////////////////////////////////////////////////// 
*/

.intro {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  justify-content: space-around;
}

.intro_image {
  object-fit: cover;
  height: auto;
  width: 20vw;
  outline: 3px solid var(--color-primary-darker);
  outline-offset: 1em;
  /* border: 30px solid rgba(100, 150, 200, 1); */
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 1em;
  transition: all 1s;
}

.intro_image:hover {
  outline: 3px solid var(--color-primary);
  outline-offset: 0em;
  transform: scale(1.2);
  /* margin-top: 1em; */
  transition: all 1s;
}

.pig_name {
  font-family: "Ms Madi", sans-serif;
  font-size: 7vw;
  /* margin-bottom: 0.5em; */
  color: var(--color-primary);
  /* transform: translateY(-1.3em); */
  /* text-shadow: 5px 5px 2px var(--color-tertiary); */
  text-shadow: 5px 5px 2px gray;
  z-index: 2;
}

.pig_intro_para {
  display: flex;
  width: 100%;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 2em;
  line-height: 1.5em;
  font-family: "Poppins", sans-serif;
  color: var(--color-primary-darker);
}

.intro_card {
  height: 60vh;
  width: 70%;
  min-height: 60vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: 3px solid rgba(100, 150, 200, 1); */
  padding: 2em;
  text-align: center;
  text-justify: center;
  border-radius: 20px;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
}

.pic_and_title {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#cowpig_intro_container {
  /* background: linear-gradient(
    90deg,
    rgb(245, 245, 245) 0%,
    rgb(245, 245, 245) 25%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  ); */

  background: linear-gradient(
    to right,
    var(--color-secondary-lighter),
    var(--color-glass-transparancy)
  );
  transition: all 1s;
  margin-bottom: 0px;
}

#bagel_intro_container {
  flex-direction: row-reverse;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 60%,
    rgb(245, 245, 245) 75%,
    rgb(245, 245, 245) 100%
  ); */

  background: linear-gradient(
    to left,
    var(--color-secondary-lighter),
    var(--color-glass-transparancy)
  );
  transition: all 1s;
}

.card--hidden {
  opacity: 0;
  transform: translateX(50px);
}

.para--hidden {
  opacity: 0;
  transform: scale(0);
}

/* 
////////////////////////////////////////////////////////////////////////////////////
                                   SECTION 3 SLIDER
//////////////////////////////////////////////////////////////////////////////////// 
*/

.slider {
  max-width: 70vw;
  height: 30rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 70vw;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2em;
  line-height: 2em;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide h1 {
  text-align: center;
}

.author {
  padding-left: 50%;
  color: var(--color-primary-darker);
}

.slide_image {
  height: auto;
  width: 10vw;
  margin-right: 1em;
  border: 2px solid black;
  border-radius: 100%;
}

/* really need to set up so that the buttons become transparent carrots in mobile mode */
.slider_btn {
  font-size: 1.2em;
}

/*setting slider y value is F'd bc using vw, thanks to the scroll bar slider should go from 25 - 75 vw*/
/* may be able to fix this with % of parent element somehow ??*/

.slider_btns_container {
  height: 30rem;
  width: 100vw;
  position: absolute;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*moving to overlap the slider*/
  transform: translateY(-30rem);
}

.slider_btn_container {
  display: flex;
  width: 3em;
  height: 3em;
  background-color: var(--color-glass-transparancy);
  border: none;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  color: var(--color-secondary-darker);
}

.slider_btn_container:hover {
  color: var(--color-primary-lighter);
  transition: 200ms;
}

/* 
.slider_btn_left {
}

.slider_btn_right {
} 
*/

.slider_btn_left:active {
  background-color: var(--color-glass-transparancy-lighter);
  transform: scale(0.8);
  transition: 200ms;
  cursor: pointer;
}

.slider_btn_right:active {
  background-color: var(--color-glass-transparancy-lighter);
  transform: scale(0.8);
  transition: 200ms;
  cursor: pointer;
}

/* 
////////////////////////////////////////////////////////////////////////////////////
                                  SECTION 4 TABBED CARE GUIDE
//////////////////////////////////////////////////////////////////////////////////// 
*/

.care_guide {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5em;
}

.tabs_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.tab {
  width: 10vw;
  height: 7vh;
  font-size: 1.2em;
  background: var(--color-glass-transparancy);
  color: black;
  border: none;
  border-radius: 10px;
  transition: 400ms;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
  cursor: pointer;
}

/*this is kind of pog*/
.tab:not(:last-child) {
  margin-right: 5vw;
}

.tab.tab--active {
  background: var(--color-primary-lighter);
  transform: translateY(-0.5em);
  width: 12vw;
  color: var(--color-secondary-darker);
}

.tab_content_container {
  position: relative;
  display: flex;
  width: 60vw;
  height: auto;
  background: linear-gradient(
    140deg,
    var(--color-primary-lighter) 0%,
    var(--color-glass-transparancy) 80%
  );
  justify-content: center;
  align-items: space-between;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
}

/* 
.tab_content_container:before {
  content: "";
  background-image: url("/media/backgroundpig3.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: -1;
  transform: scale(1);
} 
*/

.tab_content {
  display: none;
  margin: 2em;
}

.tab_content h2 {
  font-size: 8vh;
  font-family: "Poppins", sans-serif;
  color: var(--color-primary-darker);
  text-align: left;
  padding-left: 1em;
  /* text-shadow: 5px 5px 2px white; */
  /* text-decoration: underline; */
}

.tab_content p {
  font-size: 1.2em;
  margin-top: 1em;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.tab_content.content--active {
  display: flex;
  flex-direction: column;
}

/* 
////////////////////////////////////////////////////////////////////////////////////
SECTION 5 ????
//////////////////////////////////////////////////////////////////////////////////// 
*/
#section--5 {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.video_container {
  width: 70vw;
  height: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background: var(--color-glass-transparancy);
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
  border-radius: 10px;
  padding: 10vh;
}

iframe {
  width: 50%;
  max-height: 100%;
  margin-right: 1em;
  border: 5px solid;
  border-image: linear-gradient(
      120deg,
      var(--color-primary) 30%,
      var(--color-secondary) 70%
    )
    30;
}

.video_description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.video_description h2 {
  font-size: 8vh;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.video_description p {
  font-size: 3vh;
}
/* 
////////////////////////////////////////////////////////////////////////////////////
                                   FOOTER / SOCIALS
//////////////////////////////////////////////////////////////////////////////////// 
*/

.footer {
  height: auto;
  width: 100vw;
  background: var(--color-glass-transparancy);
}

#footNote {
  font-size: 0.8em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  text-align: center;
  /* position: absolute;
  bottom: 20px; */
}
#footNote p {
  width: 80%;
  color: black;
}

.socials {
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10vh;
  /* margin-bottom: 1em; */
}

.socials_list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-brands {
  padding: 1rem;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgba(100, 150, 200, 0.5);
  transition: all 1s;
  cursor: pointer;
}

.fa-brands:hover {
  transform: translateY(-10px);
  color: var(--color-secondary);
}

.border_bottom {
  border-bottom: 2px solid black;
}

/* the toggle content form the first section, px is fine here its just to keep the section jitter from being too bad */
.hidden_toggle {
  height: 100px;
  transform: translateY(-300px);
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
}

/* 
branch name for media is "1"
git checkout 1
when we are happy with changes to branch 1 merge with master by going to master and saying git merge 1, i think;
*/

@media (max-width: 820px) {
  a {
    color: black;
  }

  a:visited {
    color: black;
  }

  .section_title {
    font-size: 10vw;
    justify-content: center;
    text-align: center;
  }

  .nav_bar {
    justify-content: space-between;
  }

  .site_icon_container {
    padding-left: 5vw;
  }

  .nav_buttons {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .header {
    width: 100vw;
    background-size: cover;
    background-position-x: 70%;
    overflow-x: hidden;
    filter: blur(6px);
  }

  .site_title_container {
    width: auto;
  }

  .site_title {
    height: 30vh;
    width: 70vw;
    margin-top: 0px;
    font-size: 15vh;
  }

  .what_are_pigs_container {
    width: 80vw;
  }

  #anatomy_pig {
    width: 100%;
  }

  #what_are_pigs_para {
    text-align: center;
    font-size: 1.2em;
  }

  .modal_img {
    position: fixed;
    width: 90vw;
    height: auto;
  }

  #modal_close {
    font-size: 10vw;
    position: fixed;
    top: 15vw;
    left: 50%;
  }

  #section--2 {
    height: auto;
  }

  .intro {
    justify-content: space-around;
  }

  .intro_card {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); */
  }

  #cowpig_intro_container {
    flex-grow: 1.5;
    background: linear-gradient(
      150deg,
      var(--color-secondary-lighter),
      var(--color-glass-transparancy)
    );
    margin-top: 10vw;
    margin-bottom: 10vh;
  }

  #bagel_intro_container {
    flex-grow: 1.5;
    flex-direction: column;
    background: linear-gradient(
      150deg,
      var(--color-secondary-lighter),
      var(--color-glass-transparancy)
    );
  }

  .intro_image {
    width: 25vh;
    height: auto;
  }

  .pig_name {
    font-size: 10vh;
  }

  .pic_and_title {
    height: 15vh;
    transform: translateY(-10vh);
  }

  .pig_intro_para {
    position: relative;
    margin-top: 15vh;
    font-size: 3vh;
    line-height: 4vh;
    /* display: grid;
    grid-template-columns: 3 / 6;
    grid-template-rows: 3 / 6; */
  }

  .slider {
    width: 100vw;
  }

  .slide {
    width: 100vw;
    font-size: 2.5vh;
    text-justify: center;
  }

  .slider_btn_container {
    width: 10vh;
    margin-left: 0px;
    margin-right: 0px;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 8vh;
  }

  .slider_btn_container:hover {
    color: rgba(0, 0, 0, 0.2);
  }

  .slider_btn_container:active {
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
  }

  .tab {
    width: 20vw;
    padding: 2px;
  }

  .tab.tab--active {
    width: 22vw;
  }

  .tab:not(:last-child) {
    margin-right: 15vw;
  }

  .tab_content_container {
    width: 90vw;
  }

  .tab_content h2 {
    font-size: 5vh;
    text-align: center;
    padding: 0px;
  }

  .footer {
    height: 30vh;
  }
}

@keyframes mobileMenuDrop {
  0% {
    transform: translateY(-30vh);
  }
  /* 25% {
    transform: translateY(-22.5vh);
  }
  50% {
    transform: translateY(-15vh);
  }
  75% {
    transform: translateY(-7.5vh);
  } */
  100% {
    transform: translateY(0vh);
  }
}

@keyframes mobileMenuRise {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-30vh);
  }
}
