:root {
  --color-primary: rgb(125, 190, 255);
  --color-secondary: rgb(251, 194, 235);
  --color-tertiary: rgb(200, 200, 200);
  --color-accent: rgb(253, 255, 143);
  --color-primary-darker: rgb(90, 140, 190);
  --color-secondary-darker: rgb(167, 102, 102);
  --color-primary-lighter: rgb(188, 217, 247);
  --color-secondary-lighter: rgb(253, 223, 244);
  --color-glass-transparancy: rgba(255, 255, 255, 0.5);
  --color-glass-transparancy-lighter: rgba(255, 255, 255, 0.2);
  --color-glass-transparancy-less: rgba(255, 255, 255, 0.75);
  --gradient-primary: linear-gradient(white, var(--color-primary-darker));
  --gradient-secondary: linear-gradient(
    to top,
    var(--color-secondary) 0%,
    rgb(166, 193, 238) 100%
  );
}

#new_site_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  background: linear-gradient(
    120deg,
    var(--color-secondary) 0%,
    rgb(166, 193, 238) 100%
  );
  color: black;
  transition: all 1s;
}

#new_site_btn:hover {
  background: linear-gradient(
    240deg,
    var(--color-secondary) 0%,
    rgb(166, 193, 238) 100%
  );
}

/*
	ORIGINAL SITE CSS
*/

body {
  background: rgb(240, 240, 240);
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 50px;
  background: rgb(230, 245, 255);
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}

.nav-item {
  font-family: sans-serif;
  height: 30px;
  width: 150px;
  color: white;
  background: rgb(120, 120, 255);
  border: 2px solid black;
  text-align: center;
  margin-top: 8px;
}

.nav-item:hover {
  color: rgb(120, 120, 255);
  background: white;
}

a {
  text-decoration: none;
}

.banner {
  width: 100vw;
  height: 300px;
  background: linear-gradient(
      to right,
      rgb(240, 240, 240),
      rgba(0, 0, 0, 0),
      rgb(240, 240, 240)
    ),
    url(../media/longbois.jpg);
  display: flex;
  align-items: center;
  justify-content: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: rgb(120, 120, 255);
  font-family: cursive, sans-serif;
  font-size: 3em;
  margin-left: 60px;
  text-shadow: 5px 5px 2px black;
}

.intro {
  width: 100vw;
  padding-left: 30px;
  display: flex;
}

#pig-para {
  margin-left: 0px;
  text-indent: 10%;
  width: 60%;
  min-width: 50%;
  position: relative;
  font-family: "indie flower", Cursive;
  font-weight: 900;
  border-right: 3px solid rgb(120, 120, 255);
  padding-right: 5px;
}

#pig-para::before {
  content: "";
  background: url(../media/backgroundpig3.png);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  opacity: 0.2;
}

#parapic {
  float: right;
  width: 30vw;
  height: 23vw;
  margin: 20px;
  padding: 0px;
  margin-right: 50px;
  border: 2px solid black;
  border-radius: 25%;
  align-self: center;
}

#hero-text {
  color: rgb(120, 120, 255);
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-family: Bungee, sans-serif;
  line-height: 90%;
  position: relative;
  bottom: 100px;
  margin: 10px;
}

.hero-select {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(230, 245, 255);
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Fantasy", sans-serif;
  font-size: 1.2em;
}

#hero-cowpig {
  width: 300px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
  margin-bottom: 30px;
}

#hero-bagel {
  width: 300px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: rgba(30, 50, 70, 0.8) 0px 20px 20px -10px;
  margin-bottom: 30px;
}

#hero-cowpig:hover {
  transform: scale(1.2);
  transition: transform 1s ease 100ms;
}

#hero-bagel:hover {
  transform: scale(1.2);
  transition: transform 1s ease 100ms;
}

#hero-card-cowpig {
  height: 400px;
  width: 350px;
  height: 400px;
  background: white;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: cursive, sans-serif;
  font-weight: 700;
}

#hero-card-bagel {
  height: auto;
  width: 350px;
  height: 400px;
  background: white;
  justify-content: center;
  border-radius: 10%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: cursive, sans-serif;
  font-weight: 700;
}
/* making a grid with a large left box for video, and two thin rows stacked on the right for the 
text and email sign up dont forget the vertical blue line*/

#media-section {
  height: 350px;
  width: 100%;
  background: rgb(240, 240, 240);
  padding-top: 30px;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  margin: 10px;
  grid-template-areas:
    "video para"
    "video email";
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
}

#pigvid {
  height: 180%;
  width: 100%;
  margin: 10px;
  grid-area: "video";
  border-right: 3px solid rgb(120, 120, 255);
  padding-right: 20px;
}

#media-text {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  grid-area: "para";
  width: 80%;
  height: auto;
  margin-left: 50px;
}

#email-input {
  width: 350px;
  grid-area: "email" 2 / 2 / span 1 / span 1;
  font-family: cursive, sans-serif;
  font-size: 0.8em;
  align-self: center;
  margin-left: 15%;
}

#submit-button {
  background: rgb(120, 120, 255);
  color: white;
  border: none;
  height: 30px;
  width: 80px;
  font-family: cursive, sans-serif;
  font-size: 0.8em;
}

#submit-button:hover {
  opacity: 0.5;
  transition: opacity 500ms ease;
}

#footer {
  height: 400px;
  width: 100vw;
  background: rgb(230, 245, 255);
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  position: relative;
  right: 20px;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  border-radius: 100%;
  text-decoration: none;
  margin: 20px;
  margin-top: 50px;
}

.fa-youtube {
  background: #ff0000;
  color: white;
}

.fa-youtube:hover {
  transform: translate(0px, -30px);
  transition: transform 500ms ease-out 50ms;
}

.fa-instagram {
  background: #fcaf45;
  color: white;
}

.fa-instagram:hover {
  transform: translate(0px, -30px);
  transition: transform 500ms ease-out 50ms;
}

.fa-twitter {
  background: #1da1f2;
  color: white;
}

.fa-twitter:hover {
  transform: translate(0px, -30px);
  transition: transform 500ms ease-out 50ms;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-facebook:hover {
  transform: translate(0px, -30px);
  transition: transform 500ms ease-out 50ms;
}

.top-button-div {
  width: 100vw;
  justify-content: center;
  align-content: center;
  display: flex;
}

.top-button {
  font-family: sans-serif;
  height: 30px;
  width: 100px;
  padding: 2px;
  color: white;
  background: rgb(120, 120, 255);
  border: 2px solid black;
  text-align: center;
  margin-top: 8px;
}

.top-button:hover {
  color: rgb(120, 120, 255);
  background: white;
}

@media (max-width: 600px) {
  #media-section {
    height: auto;
    grid-template-areas:
      "video"
      "para"
      "email";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 800px) {
  .hero-select {
    flex-direction: column;
  }

  #hero-text {
    position: relative;
    bottom: 0px;
  }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
start cowpig css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
